.coverPhoto {
  height: 2000px;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.contactTitle {
  text-align: center;
  margin-bottom: 50px;
}

.contactContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin-inline: auto;
  text-align: justify;
  padding: 30px;
  z-index: 0;
  margin-top: -1900px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 120px;
}

.contactText {
  margin-bottom: 30px;
}

.text {
  padding-top: 40px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: 20px;
}

.inputContainer > h3 {
  padding-bottom: 20px;
  margin-inline: 80px;
}

.inputFirstName,
.inputLastName,
.inputEmail,
.inputNumber {
  height: 30px;
  font-size: 15px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-inline: 80px;
}

.error {
  margin-top: -15px;
  margin-bottom: 5px;
  color: red;
  font-size: 14px;
  text-align: left;
  margin-inline: 80px;
}

.select {
  height: 35px;
  width: max-content;
  padding-inline: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-inline: 80px;
}

.message {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-inline: 80px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sendMessageButton {
  height: 35px;
  width: 150px;
  font-size: 15px;
  border: solid 1px gray;
}

.sendMessageButton:hover {
  cursor: pointer;
  background-color: rgb(252, 208, 84);
}

.sendMessageButton:active {
  background-color: whitesmoke;
}

/* MOBILE VIEW */

@media only screen and (max-width: 320px) {
  .contactTitle {
    zoom: 80%;
  }

  .inputContainer {
    border: none;
  }

  .inputContainer > h3,
  .inputFirstName,
  .inputLastName,
  .inputEmail,
  .inputNumber,
  .select,
  .error,
  .message {
    margin-inline: 0px;
  }
}

/* @media only screen and (max-width: 520px) {
  .coverPhoto {
    max-height: 8rem;
  }
}

@media only screen and (min-width: 520px) and (max-width: 650px) {
  .coverPhoto {
    max-height: 10rem;
  }
} */

@media only screen and (min-width: 321px) and (max-width: 649px) {
  .contactTitle {
    zoom: 80%;
  }

  .inputContainer > h3,
  .inputFirstName,
  .inputLastName,
  .inputEmail,
  .inputNumber,
  .select,
  .error,
  .message {
    margin-inline: 20px;
  }
}

/* TABLET VIEW */

@media only screen and (min-width: 650px) and (max-width: 900px) {
  /* .coverPhoto {
    max-height: 10rem;
  } */
}
