.titleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coverPhoto {
  max-height: 18rem;
  width: 100%;
  object-fit: cover;
}

.tagline {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-width: 900px;
}

.title > span {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 600;
}

.featuredTitle {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 70px;
  padding-inline: 20px;
  line-height: 1;
  text-align: center;
}

.propertyBox {
  display: grid;
  justify-content: center;
  margin: auto;
  padding-top: 60px;
  padding-inline: 20px;
  max-width: 1200px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 30px;
}

.propertyContainer {
  max-height: 550px;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 0 1px 1px rgb(212, 212, 212);
  transition: box-shadow 0.5s ease;
}

.propertyContainer:hover {
  box-shadow: 0 0 20px 1px rgb(212, 212, 212);
}

.areaContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  background-color: rgba(127, 127, 127, 0.8);
  margin-top: 15px;
  margin-left: 15px;
  padding-inline: 5px;
  border-radius: 10px;
}

.locationIcon {
  height: 12px;
}

.area {
  color: white;
  font-size: 14px;
}

.propertyImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.propertyImage:hover {
  cursor: pointer;
}

.propertyDetails {
  padding-inline: 20px;
}

.peso {
  font-size: 14px;
}

.propertyId {
  font-size: 13px;
  margin-block: -5px;
}

.propertyTitleContainer {
  height: 46px;
}

.propertyTitle {
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.propertyTitle:hover {
  cursor: pointer;
}

.propertyTitle:hover {
  text-decoration: underline;
}

.dimensionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dimensionIcon {
  height: 30px;
  width: 30px;
}

.dimensions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: -10px;
}

/* MOBILE VIEW */

@media only screen and (max-width: 650px) {
  .tagline {
    max-width: 95%;
  }

  .propertyBox {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .propertyContainer {
    max-width: 100%;
  }

  .featuredTitle {
    zoom: 80%;
  }
}

/* TABLET VIEW */

@media only screen and (min-width: 650px) and (max-width: 768px) {
  .tagline {
    max-width: 90%;
  }

  .featuredTitle {
    zoom: 90%;
  }

  .propertyBox {
    grid-gap: 20px;
  }

  .dimensionsContainer {
    zoom: 80%;
  }
}

/* DESKTOP VIEW */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .tagline {
    max-width: 90%;
  }

  .dimensionsContainer {
    zoom: 80%;
  }
}
