.topInfoContainer {
  background-color: rgb(7, 7, 7);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.topInfo {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  color: whitesmoke;
  padding-inline: 20px;
}

.topInfo > p {
  padding-right: 30px;
  font-size: 14px;
}

.topFacebook,
.topInstagram {
  height: 13px;
  padding-right: 15px;
}

.topX {
  height: 11px;
  padding-right: 15px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: max-content;
  width: 100%;
  position: sticky;
  background-color: rgb(7, 7, 7);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-inline: 20px;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 15px;
}

.link {
  font-size: 15px;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.home,
.title {
  color: white;
}

.home:hover {
  cursor: pointer;
}

a:hover {
  color: rgb(252, 208, 84);
}

.title:hover {
  cursor: pointer;
  color: rgb(252, 208, 84);
}

.bookButton {
  height: 30px;
  width: 150px;
  border: solid 1px;
  background-color: rgb(7, 7, 7);
  color: white;
}

.bookButton:hover,
.menuButton:hover {
  cursor: pointer;
  background-color: rgb(252, 208, 84);
  color: black;
}

.bookButton:active,
.menuButton:active {
  background-color: whitesmoke;
}

.main {
  overflow-y: hidden;
}

.footer {
  color: whitesmoke;
  background-color: rgb(7, 7, 7);
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.socialContainer > h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.facebook,
.instagram {
  height: 25px;
  padding-inline: 10px;
  margin-bottom: 50px;
}

.x {
  height: 22px;
  padding-inline: 10px;
  margin-bottom: 50px;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.footerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgb(206, 206, 206, 0.5);
  padding-bottom: 20px;
}

.hamburger {
  display: none;
  height: 20px;
  width: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
}

.open:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.responsiveMenu {
  position: absolute;
  top: 100%;
  height: max-content;
  width: 100%;
  background-color: rgb(7, 7, 7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsiveMenu p {
  color: white;
  cursor: pointer;
}

.menuButton {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 30px;
  width: 150px;
  border: solid 1px;
  background-color: rgb(7, 7, 7);
  color: white;
}

/* MOBILE VIEW */

@media only screen and (max-width: 768px) {
  .topInfo,
  .navbarMenu,
  .bookButton {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .line {
    margin: 5px 0;
  }
}

/* TABLET VIEW */

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .navbarMenu {
    zoom: 85%;
  }
}
