.topInfoContainer {
  background-color: rgb(7, 7, 7);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.topInfo {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  color: whitesmoke;
  padding-inline: 20px;
}

.topInfo > p {
  padding-right: 30px;
  font-size: 14px;
}

.topFacebook,
.topInstagram {
  height: 13px;
  padding-right: 15px;
}

.topX {
  height: 11px;
  padding-right: 15px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: max-content;
  width: 100%;
  position: sticky;
  background-color: rgb(7, 7, 7);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-inline: 20px;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.link {
  font-size: 15px;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.home,
.title {
  color: white;
}

.home:hover {
  cursor: pointer;
}

a:hover {
  color: rgb(252, 208, 84);
}

.title:hover {
  cursor: pointer;
  color: rgb(252, 208, 84);
}

.bookButton {
  height: 30px;
  width: 150px;
  border: solid 1px;
}

.bookButton:hover {
  cursor: pointer;
  background-color: rgb(252, 208, 84);
}

.bookButton:active {
  background-color: whitesmoke;
}

.main {
  min-height: 100vh;
}

.footer {
  color: whitesmoke;
  background-color: rgb(7, 7, 7);
  margin-top: 120px;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
}

.socialContainer > h3 {
  margin-top: 50px;
}

.social {
  display: flex;
  align-items: center;
}

.facebook,
.instagram,
.phone {
  height: 25px;
  padding-inline: 10px;
  margin-bottom: 50px;
}

.x {
  height: 20px;
  padding-inline: 10px;
  margin-bottom: 50px;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.footerText {
  margin-bottom: 50px;
  font-size: 13px;
}
