.viewPropertiesBox {
  max-width: 1200px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 80px;
  padding-inline: 20px;
}

.viewProperties {
  display: flex;
  align-items: center;
  gap: 50px;
  box-shadow: 0 0 1px 1px rgb(212, 212, 212);
  background-color: rgb(7, 7, 7);
  color: white;
}

.viewPropertiesText {
  padding-right: 30px;
}

.viewPropertiesText > h2 {
  font-size: 28px;
  line-height: 1.1;
}

.interiorImage {
  height: 360px;
  width: 800px;
  object-fit: cover;
  position: relative;
  transition: left 1s ease-in-out;
}

.searchButton {
  width: 180px;
  border: solid 1px;
  margin-top: 10px;
  font-size: 15px;
  padding-block: 10px;
  background-color: rgb(7, 7, 7);
  color: white;
}

.searchButton:hover {
  cursor: pointer;
  background-color: rgb(252, 208, 84);
  color: black;
}

.searchButton:active {
  background-color: whitesmoke;
}

/* MOBILE VIEW */

@media only screen and (max-width: 650px) {
  .viewProperties {
    flex-direction: column;
  }

  .interiorImage {
    height: 250px;
    width: 100%;
  }

  .searchButton {
    margin-bottom: 50px;
  }

  .viewPropertiesText {
    padding-left: 30px;
  }
}

/* TABLET VIEW */

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .viewProperties {
    flex-direction: column;
  }

  .interiorImage {
    width: 100%;
  }

  .searchButton {
    margin-bottom: 50px;
  }
}
